.venv
.vscode
__pycache__
MinNets*
NumPaths*
AutoNets*
CrossNets*
logs
test.py
verify_data.py
test_yield_vs_autonomy.py
test_iterative.py
plot_biomass_outperformers.py
calculate_crossfeeding_yield_iterative.py
outperformer_crossfeeders.py